<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kapul.hobbyclub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/no_title">

        <activity android:name=".RegisterOptionActivity" />
        <activity android:name=".ShowNotificationActivity" />
        <activity android:name=".AdminArtsActivity" />
        <activity android:name=".AdminFilmActivity" />
        <activity android:name=".AdminDanceActivity" />
        <activity android:name=".AdminBookActivity" />
        <activity android:name=".AdminPhotographyActivity" />
        <activity android:name=".AdminAdventureActivity" />
        <activity android:name=".AdminAstronomyActivity" />
        <activity android:name=".ShowMembersActivity" />
        <activity android:name=".ShowArtActivity" />
        <activity android:name=".ArtActivity" />
        <activity android:name=".ArtHomeActivity" />
        <activity android:name=".NotRegisteredActivity" />
        <activity android:name=".FilmReviewActivity" />
        <activity android:name=".ShowFilmReviewActivity" />
        <activity android:name=".FilmHomeActivity" />
        <activity android:name=".ShowBookReviewActivity" />
        <activity android:name=".BookReviewActivity" />
        <activity android:name=".BookHomeActivity" />
        <activity android:name=".DanceHomeActivity" />
        <activity android:name=".RegisterAstrophotographyActivity" />
        <activity android:name=".AstronomyActivity" />
        <activity android:name=".RegisterClubActivity" />
        <activity android:name=".AdventureHomeActivity" />
        <activity android:name=".PhotographyActivity" />
        <activity android:name=".LoggedUserActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".PasswordReset" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminRegisterClubActivity" />
        <activity android:name=".AdminRegisterActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>